:root{
    --primary-color:rgb(23, 100, 114);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    outline: none;
    background-color: var(--primary-color);
    font-family: sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

.cpf-gerado {
    font-size: 2em;
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    letter-spacing: 5px;
}

button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button{
    border: none;
    border-radius: 30px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-top: 30px;
}

button:hover{
    color:  var(--primary-color);
    background-color: white;
}
